.login-container {
    max-width: 350px;
    margin: -13rem auto 13rem auto;
    padding: 20px;


    background: rgba( 69, 87, 94, 0.05 );
    box-shadow: 0 8px 32px 0 rgb(145 145 148 / 37%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #fbfbfb;



}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f6f6f6;



}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-primary {
    background-color: #5ee464;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #45a049;
}
