.container-account {
    margin-top: -12rem;
    z-index: auto;
    position: relative;
    margin-bottom: 18rem;
}


.account-card {
    border-radius: 10px;
    background-color: rgba(28, 42, 50, 0.4);
    box-shadow: 0 5px 12px 0 rgb(97 97 116 / 37%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-size: 16px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.account-items {
    display: flex;
    gap: 1rem;
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
}



.account-items p {
    margin: 0px;

}


.accout-items-label {
    font-size: 16px;
    font-weight: 700;
}

.account-delete-btn{
    padding: 15px;
}

.label-column{
    min-width: 100px;
    text-align: center;
}

.text-column{
    min-width: 150px;
    text-align: center;
}

.btn-column{
    min-width: 150px;
    text-align: right;
}

.form-control:focus {
    border-color: var(--gold) !important;
    box-shadow: inset 0 0 0.15rem .1rem rgba(255, 202, 32, 0.9) !important;
}


.invalid-feedback-display {
    width: 100%;
    margin-top: .25rem;
    margin-bottom: .5rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.form-control{
    background-color: var(--white) !important;
}


.text-style{
    color: var(--white) !important;
}

.text-password{
    font-size: 24px;
}


@media (max-width: 420px) {
    .accout-items-label {
        font-size: 14px;
    }

    .account-card{
        width: 340px;
    }
}
@media (max-width: 1200px) {
    .container-account {
        margin-top: -16rem;
        margin-bottom: 22rem;
    }
}