:root {
    --background: #0B1D26;
    --gold: #FBD784;
    --hover: #bb8b0d;
    --white: #fdf7fd;
    --red: #d08080;
    --green: rgba(33, 75, 98, 0.67);
    --primary: hsl(157, 30%, 54%);
    --primaryBg: hsla(155, 100%, 65%, 1%);
    --primaryHi: hsla(201, 41%, 61%, 0.6);
    --primaryFg: hsl(165, 4%, 39%);
    --secondary: hsl(156, 51%, 14%);
    --secondaryFg: hsl(156, 51%, 75%);
    --secondaryBg: hsla(156, 51%, 14%, 5%);
    --secondaryHi: hsla(156, 51%, 30%, 50%);
    --accent: hsl(155, 100%, 94%);
    --accentBg: hsla(155, 100%, 94%, 1%);
    --accentHi: hsla(155, 100%, 100%, 25%);
}

h1{
    text-align: center;
    color: var(--white) !important;
    margin-bottom: 2rem !important;
    margin-top: -55px!important;

}

#root{
    background-color: var(--background);
    min-height: 100vh;
    color: var(--white);
    position: absolute;
    width: 100%;
    z-index: -2;
}

.logo{
    width: 120px;
}

#navbar,
.a-categorien{
    align-items: flex-start;
}

#navbar {
    background-image: linear-gradient(to bottom, rgba(11, 29, 38, 0) 20%, rgba(11, 29, 38, 1) 100%), url("https://i.ibb.co/Smh8gs4/cover.png");
    height: 510px;
    --bs-nav-link-color: var(--white) !important;
    background-size: cover;
    background-position: top;
    width: 100%;
}


#navbar:after {
    background-image: linear-gradient(180deg, #fff,  #0B1D26);
    opacity: 0.6;
}

.nav-link{
    color: white !important;
    font-size: 1.2rem !important;
}
a:hover{
    color: var(--hover) !important;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a::before {
    transform: scaleX(1);
}

#navbar-toggler{
    color: white !important;
}

#dropdown-menu{
    --bs-dropdown-bg: rgba(225, 225, 225, 0) !important;
    border: none !important;

}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--gold) !important;
    background-color: rgba(225, 225, 225, 0) !important;
}

.dropdown-item{
    color: var(--white) !important;
}


/*//////////////////BUTTON///////////////////////////////////*/

.button-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btn-left{
    justify-content: left;
    margin-left: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    height: 40px;
    width: 150px;
    z-index: 9999;
}

.button-div button {
    height: 40px;
    width: 150px;
    clip-path: path("M0 20C0 9 9 0 20 0H130C141 0 150 9 150 20V20C150 31 141 40 130 40H20C9 40 0 31 0 20Z");
    border: none;
    border-radius: 13px;
    background-color: var(--primaryBg);
    box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
    color: var(--primaryFg);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0px);
    transition: all 0.2s ease;
}

.span {
    width: 70px;
    height: 50px;
    background-color: var(--primaryHi);
    border-radius: 100%;
    filter: blur(20px);
    position: absolute;
    bottom: -50%;
    transition: all 0.2s ease;
}

.button:hover > span {
    opacity: 60%;
}

.button:hover > button {
    transform: translateY(3px);
}

.button.sec > button {
    background-color: var(--accentBg);
    box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
    color: var(--gold);
}

.button.sec > span {
    background-color: var(--accentHi);
}


.button.third > button {
    background-color: var(--secondaryBg);
    box-shadow: 0 -3px 15px 0 #1b4157 inset;
    color: var(--gold);
}

.button.third > span {
    background-color: var(--green);
}


/*////////////////////////SECONDARY BTN////////////////////////////*/

.bearbeiten-loeschen-btn-div{
    display: inline-flex;
    justify-content: space-between;
    width: 170px;
}

.edit-btn-div,
.block-edit-btn,
.delete-btn-div{
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.delete-btn-div{
    color: var(--red);
}

.edit-btn-div{
    color: var(--primary);
}

.block-edit-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    margin-left: auto;
    font-size: 13px;
}

.block-edit-btn-container-margin-left{
    margin-left: -5px;
}

.card-second-btn{
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -10px;
    line-height: 12px;
    border: none;
}

.block-edit-btn:hover,
.delete-btn-div:hover,
.edit-btn-div:hover{
    transform: scale(1.1);
}

/*////////////////////////////////////////////////////*/


/*//////////////////HOME PAGE///////////////////////////////////*/

.custom-filter {
    margin: -100px auto 100px auto;
    min-width: 300px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 60px;
    align-items: center;

    background: rgba( 69, 87, 94, 0.05 );
    box-shadow: 0 5px 32px 0 rgb(97 97 116 / 37%);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.10 );
}

#cardList-form {
    color: var(--white);
    margin: 5px;
    display: inline;
    width: 30%;
    min-width: 170px;
    box-shadow: 0 8px 32px 0 rgb(25 25 40 / 37%);
    -webkit-backdrop-filter: blur(4px);
    border: 0.5px solid rgb(139 136 136 / 18%);
}

select{
    background-color: var(--background) !important;
    cursor: pointer;
    border: none;
}


.homePageMainContainer {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#customCard {
    margin-bottom: 60px;
    flex-direction: row;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#customArticleContainer,
.reactApp{
    color: var(--white);
    background-color: var(--background);
    border: none;
}

.img-card{
    border-radius: 5px;
    object-fit: cover;
}


.articleTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 25px 30px 0;
}

#customBtnBlockItem {
    background-color: var(--background);
    color: var(--gold);
    border: none;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
}

#comment{
    background-color: var(--background);
    border: 1px solid white;
    color: var(--white);
}

#noswap-pic,
#swap{
    width: 285px;
    height: 190px;
}

.card-text,
.card-date{
    margin-top: 10px;
    font-size: 10px !important;
}

.card-text{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-text h2{
    font-size: 10px !important;
}

#card-title{
    margin-bottom: 20px;
    margin-top: -10px;
}

#swap{
    margin-left: -50px;
}

#noswap{
    margin-left: 50px;
    text-align: right;
    margin-right: -10px;
}

.card-body{
    max-width: 260px;
    margin-left: 10px;
}

#noswap-pic{
    margin-left: 10px;
}

.blog-label-swap,
.blog-label-noswap{
    position: absolute;
}

.blog-label-swap{
    top: 5px;
    left: 325px;
}

.blog-label-noswap{
    top: 5px;
    right: 365px;
}

.blog-label-noswap div,
.blog-label-swap div{
    display: inline;
    font-size: 12px;
    margin: 5px;
    padding: 3px 4px;
    color: var(--white);
    background: rgba(58, 58, 57, 0.6);
    box-shadow: 0 5px 32px 0 rgb(97 97 116 / 37%);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.10 );
}


/*///////////////////////////////////////////////////////////////////*/
.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.blocks-container,
#mt-5{
    margin-top: -12rem !important;
    padding-bottom: 5rem !important;
}

#mt-5,
#customArticleContainer{
    background-color: rgba(0, 0, 0, 0)!important;
}


.mt-3 a{
color: var(--primary);
}

#customBtnBlockItem a{
    color: var(--gold) !important;
}


.notfound-container{
    text-align: center;
    padding: 20px;
    background: rgba(1, 1, 1, 0);
    margin-top: -14rem;
    position: relative;
    z-index: 3;
}



/*////////////////////////////// FOOTER /////////////////////////////////////*/

.text-center{
    background: linear-gradient(to bottom, rgba(11, 29, 38, 0) 20%, rgb(11 23 30) 100%);
}

.footer-first-div{
    text-decoration: none !important;
    list-style-type: none;
    padding: 10px;
}

.a-footer{
    font-size: 14px;
}

.text-white{
    text-decoration: none !important;
    padding: 10px;
    bottom:0;
    width: 100%;
}

.custom-primary-btn{
    display: inline-block;
    padding: 9px 18px;
    border: 0;
    text-decoration: none;
    border-radius: 0.375rem;
    background-color: rgba(189,193,196,0.1);
    border: 1px solid var(--background);
    backdrop-filter: blur(30px);
    color: var(--white);
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}
.custom-primary-btn:hover {
    background-color: rgba(189,193,196, 0.2);
}

.custom-primary-btn {
    display: inline-block;
    padding: 9px 18px;
    border: 0;
    text-decoration: none;
    border-radius: 0.375rem;
    background-color: rgba(189,193,196,0.1);
    border: 1px solid var(--background);
    backdrop-filter: blur(30px);
    color: var(--white);
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-primary-btn:hover {
    background-color: rgba(208, 210, 211, 0.2);
    color: #97a2a7;
}

@media (max-width: 1200px) {
    .blocks-container,
    #mt-5{
        margin-top: -16rem !important;
    }

    .container-newarticle {
        margin-top: -16rem;
    }
}

#custom-btn-container{
    gap: unset;
}

.ja-nein-btn{
    height: 60px;
}














@media (max-width: 995px) {
    .navbar-nav{
        align-content: flex-end;
        margin-top: -10px;
        --bs-nav-link-padding-y: 0.3rem;
        flex-wrap: wrap;
        align-items: end;

    }

    .navbar-toggler-icon{
        cursor: pointer;
        background-image: url("https://i.ibb.co/D7XFCZT/burger-icon.png") !important;
    }

    #noswap-pic,
    #swap{
        width: 100%;
        max-width: 200px;
        max-height: 150px;
    }

    .img-card-container{
        position: relative;
        width: 200px;
        height: 150px;
    }

    .card-body{
        max-width: 150px;
    }

    #noswap-pic,
    #noswap,
    #swap{
        margin-left:0;
    }

    .card-text{
        display: none;
    }

    #customBtnBlockItem,
    .card-date{
        font-size: 11px;
    }


    .blog-label-swap{
        left: 5px;
    }

    .blog-label-noswap{
        top: 5px;
        right: 5px;
    }

    .blog-label-noswap div,
    .blog-label-swap div{
        margin: 0 2px;
        font-size: 11px;
        padding: 2px 2px;
    }

    #noswap {
        text-align: right;
        margin-right: 7px;
    }

}


