:root {
    --background: #0B1D26;
    --gold: #FBD784;
    --hover: #bb8b0d;
    --white: #f7fafd;
}

h1{
    text-align: center;
    color: var(--white) !important;
    margin-bottom: 2rem !important;
    margin-top: -55px!important;

}
#root{
    background-color: var(--background);
    min-height: 100vh;
    color: var(--white);
}

.logo{
    width: 120px;
}
#navbar,
.a-categorien{
    align-items: flex-start;
}
#navbar {
    background-image: linear-gradient(to bottom, rgba(11, 29, 38, 0) 20%, rgba(11, 29, 38, 1) 100%), url("https://i.ibb.co/Smh8gs4/cover.png");
    height: 510px;
    --bs-nav-link-color: var(--white) !important;
    background-size: cover;
    background-position: top;
}

#navbar:after {
    background-image: linear-gradient(180deg, #fff,  #0B1D26);
    opacity: 0.6;
}

.nav-link{
    color: white !important;
    font-size: 1.2rem !important;
}
a:hover{
    color: var(--hover) !important;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a::before {
    transform: scaleX(1);
}

#navbar-toggler{
    color: white !important;
}
.homePageMainContainer {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customCard {
    margin-bottom: 60px;
    flex-direction: row;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#customArticleContainer,
.reactApp{
    color: var(--white);
    background-color: var(--background);
    border: none;
}

.articleTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 25px 30px 0;
}

#customBtnBlockItem {
    background-color: var(--background);
    color: var(--gold);
    border: none;
    margin-top: 15px;
    margin-left: 0;
    padding-left: 0;
}

#comment{
    background-color: var(--background);
    border: 1px solid white;
    color: var(--white);
}

#noswap-pic,
#swap{
    width: 100%;
    max-width: 285px;
    max-height: 190px;
}

.card-text{
    margin-top: 10px;
    font-size: 10px !important;
}

#card-title{
    margin-bottom: 20px;
}

#swap{
    margin-left: -50px;
}

#noswap{
    margin-left: 50px;
    text-align: right;
}

.card-body{
    max-width: 260px;
    margin-left: 10px;

}

#noswap-pic{
    margin-left: 10px;
    }
.bold-italic {
    font-weight: bold;
    font-style: italic;
}

.blocks-container,
#mt-5{
    margin-top: -5rem !important;
    padding-bottom: 5rem !important;
}

#mt-5,
#customArticleContainer{
    background-color: rgba(0, 0, 0, 0)!important;
}