.user-container {
    padding: 20px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -12rem !important;
    padding-bottom: 18rem !important;
    position: relative;
    z-index: 2;
}

.user-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.custom-collapse{
    overflow-x: auto !important;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}


.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
}

.table-header {
    background: rgba(28, 42, 50, 0.4) !important;
    font-size: 18px !important;
}

.aktionen div{
   margin-left: 40px;
}

.user-table tr {
    background: rgba(14, 37, 48, 0.7);
    box-shadow: 0 5px 12px 0 rgb(97 97 116 / 37%);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 5px;
    font-size: 16px;
}




.user-table tr:nth-child(even) {
    background-color: #1f2e3e;
}

.user-table th {
    color: #fff;
}

.user-table td {
    color: #fff;
}

.user-table tbody tr:hover {
    background-color: #374a5e;
}


.modal-content {
    background-color: #2a3b4c !important;
    color: #fff !important;
    border: none;
    border-radius: 8px;
}

.modal-header, .modal-footer {
    border-bottom: none;
    border-top: none;
}

.modal-header {
    border-bottom: 1px solid #374a5e;
}

.modal-footer {
    border-top: 1px solid #374a5e;
}

.modal-title {
    color: #fff;
}

.form-select, .btn-close {
    color: #000;
}

.btn-close {
    background: transparent;
    border: none;
    color: #fff;
}


@media (max-width: 1200px) {
    .user-container {
        margin-top: -14rem !important;
    }
}