.comments-container {
    background-color: #051A24;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.comment {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-date {
    font-size: 0.9em;
    color: #ccc;
}

.pagination button {
    background-color: #fff;
    color: #051A24;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #ccc;
}

.comment-buttons {
    display: flex;
    margin-top: 1px;
    justify-content: flex-end; /* Butonları sağa hizalar */
}

.comment-buttons .btn {
   margin: 3px;
}
.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.comment-footer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.comment-footer form textarea {
    width: 100%;
    margin-bottom: 10px;
}